{% extends "layout.html.twig" %}

{% block content %}
	<main>
		<video autoplay loop muted id="video">
			<source src="assets/images/video.mp4" type="video/mp4">
		</video>
		<div class="content">
			<p>


				Nous vous proposons des voyages à travers l’histoire ! Voyager dans la vie de personnes qui ont vraiment vécus grâce à notre technologie basé sur la mémoire génétique.
				
				Revivez la vie d’un simple ouvrier en egypte antique ou la vie de Napoléon ! Assistez à un combat de gladiateur, ou découvrez l’amérique !
				
				Notre entreprise est encore jeune, et notre catalogue ne fera que s’étoffer grâce à nos pilleurs de tombes !!</p>
		</div>
	</main>
{% endblock %}
