{% extends "layout.html.twig" %}

{% block content %}


	<video autoplay loop muted id="video">
		<source src="assets/images/video.mp4" type="video/mp4">
	</video>
	<div class="content">
		<p>


			Nous vous proposons des voyages à travers l’histoire ! <br> <br> Voyager dans la vie de personnes qui ont vraiment vécue grâce à notre technologie basée sur la mémoire génétique.

			Revivez la vie d’un simple ouvrier en Egypte antique ou la vie de Napoléon !  <br> <br> Assistez à un combat de gladiateur, ou découvrez l’Amérique !

			<br> <br>
            Notre entreprise est encore jeune, et notre catalogue ne fera que s’étoffer grâce à nos pilleurs de tombes !!</p>
		<div class='btnlanding'>
			<a href='/epoque'>
				<button type="button" class="btnyes btn btn-secondary btn-lg">Vivez des expériences hors du temps !</button>
			</a>
		</div>
	</div>
{% endblock %}
