.card-img-top {
    object-fit: contain;
}

.classepoque {
    gap: 15px;
}



.h1epoque {
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.436);
    display: inline-block;
    font-size: medium;
    text-align: center;

}

.card-body{
    
    color: black!important;
    text-decoration: underline!important;
    text-decoration-color: white!important;
}

.card-title{
    font-weight:bold!important;
    text-decoration: none!important;
}