.content{
    position: absolute;
    z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
    padding: 20px;
  display: flex;
  justify-content: space-around;
  margin: 150px 300px;
}

p{
    width: 50ch;
    text-align: center;
    width: auto;
    font-size: large;
}

@media screen and (max-width:1000px) {
    .content{
        margin: 200px 10px;
    }
    

}