{% extends "layout.html.twig" %}

{% block content %}

	<video autoplay loop muted id="video">
		<source src="assets/images/Compter.mp4" type="video/mp4">
	</video>


	<div class=" allcart container-fluid d-flex justify-content-center mb-5 px-5">
		<div class="row align-items-center ">

			{% for cart in carts %}

				<div class="panier row-md-2 d-flex">
					<h1 class="momentdepayer">Détail de votre commande</h1>
					<div class="panierdeyoplait card">
						<p>Votre choix :
							{{cart.name}}
						</p>
						<p>Formule :
							{{cart.formule_name}}</p>
						<p>Tarif :
							{{cart.montant}}
							Millions $</p>
					</div>
				</div>


			{% endfor %}
		</div>
	</div>


{% endblock %}
