<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div>
			<img class="logo" src="assets/images/logo.png" alt="logo">
		</div>
        <ul class='ulconnect'>
        <li class="nav-item">
					<a class="nav-link liconnect" href="register">S'enregistrer</a>
				</li>
        <li class="nav-item">
					<a class="nav-link liconnect" href="connexion">Se connecter </a>
		</li>
        </ul>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="epoque">Expériences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="cart">Panier</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
